body {
    background-image: url(../images/cookie-background-h39dbr4yi8yzz81q.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#CK {
margin-left: 600px;
}

h1{
   text-align: center;
   color: lightblue;
}

h2{
    text-align: left;
}

.ansector .child{
    border: 1px solid black;
    margin-left: 200px;
    border-radius: 40px;
    color:white;
}

