html{
   box-sizing: border-box;
   background-color: whitesmoke;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
    text-align: left;
    font-size: 70px;
    margin-left: 100px;

}

.box-example {
     display: inline-block; 
}

#HP {
  display: block;
  margin: 20px;
  padding: 25px;
  background-color: crimson;
  color: white;
  width: 250px;
  font-size: 25px;
  text-decoration: none;
  border-radius: 40px;
  margin: auto;
  margin-top: 100px;
  }

.description-pannel {
  display: inline-flex;
  border: 5px dashed crimson;
  background-color: #ffff80;
  margin: 30px 100px;
}

.description-pannel #PIAB {
  width: auto;
  height: 500px;
}

.description-pannel h2 {
  text-decoration: underline;
  font-size: 55px;
  padding: 5px 20px;
}

.description-pannel p {
  font-size: 24px;
  padding: 5px 20px;
}

.ingridients-pannel {
  background-color: #ffff80;
  border: 5px dashed crimson;
  margin: 30px 100px;
  margin-right: 500px;
}

.ingridients-pannel h2 {
  font-size: 35px;
  padding: 0 20px;
  text-decoration: underline;
}

.ingridients-pannel li {
  font-size: 20px;
  margin-bottom: 10px;
}

.cooking-steps-pannel {
  background-color: #ffff80;
  border: 5px dashed crimson;
  margin: 30px 100px;
  margin-right: 500px;
}

.cooking-steps-pannel h2 {
  font-size: 35px;
  padding: 0 20px;
  text-decoration: underline;
}

.cooking-steps-pannel li {
  font-size: 20px;
  margin-bottom: 10px;
}